{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{#{% block ng_controller %}#}
{#    NetworkFormController as ctrl#}
{#{% endblock %}#}

{% block form_attrs %}
    enctype="multipart/form-data"

{% endblock %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>
Create HMC network
  </p>
{% endblock %}
{% block modal-js %}
{#    <script src='https://code.jquery.com/jquery-3.1.1.min.js' type='text/javascript' charset='utf-8'></script>#}
    <script type="text/javascript">
        $(document).ready(function(){
  function readSingleFile(evt) {
    //Retrieve the first (and only!) File from the FileList object
    var f = evt.target.files[0];

    if (f) {
      var r = new FileReader();
      r.onload = function(e) {
	      var contents = e.target.result;
          $("#id_docker_file_edit").val(contents);
      }
      r.readAsText(f);
    } else {
      alert("Failed to load file");
    }
  }
  document.getElementById('id_dockerfile_file').addEventListener('change', readSingleFile, false);
        });

    </script>
{% endblock %}